.container {
  padding: 0 0;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
  font-size: 5rem;
  color: rgb(67, 110, 236);
}

.subheading{
margin-top:15px;
margin-bottom: 15px;
color: azure;
letter-spacing: 2px;
font-weight: 500;
}

.message{
  margin-top:15px;
  margin-bottom: 15px;
  color: rgb(194, 210, 255);
  font-weight: 700;
  font-size: 2.5rem;
}
.button{

  padding: 1rem 2rem;
  font-size: 1.3rem;
  border-radius: 2rem;
  border: none;
  color: azure;
  font-weight: 600;
  background-color: rgb(67, 110, 236);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.button:hover{
  transform: scale(0.9);
}

.messageContainer{
  background-color: rgb(251, 246, 240);
  padding: 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  padding: 1rem;
  border-radius: 5px;
}
.messageWrapper{
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  width: 80%;
  height: 100%;
}

.messageInput{
  background-color: #ffffff;
    border: 1px solid #141f27;
    border-radius: 5px;
    color: #141f27;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 10px;
    width: 50%;
    margin-top: 4rem;
    @media (max-width: 900px) {
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
  .heading { 
    font-size:2.5rem;
    margin-top: 5rem;
  }
  .subheading{
    font-size:1.3rem;
  }
}